<ion-view view-title="Create Post">
<ion-content>

    <div class="list">

      <label class="item item-input item-stacked-label item-select">
      <div class="input-label">
        Fish Category
      </div>
      <select>
        <option>Tilapia</option>
        <option selected>Cat Fish</option>
        <option>Omena </option>
      </select>
    </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Price</span>
        <input type="text" placeholder="price">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Quantity</span>
        <input type="number" placeholder="quantity">
      </label>

      <input type="file" name="upload"/>

    
    
    </div>
</ion-content>

</ion-view>