<ion-view view-title="Create Post">
<ion-content>

    <div class="list">
    <form ng-submit="createPost()" method="post">
      <label class="item item-input item-stacked-label item-select">


      <!-- <div class="input-label">
        Fish Category
      </div>
      <input type="text" ng-model="post_data.fish_category">
    </label> -->
     
    <label class="item item-input item-stable item-stacked-label">
        <span class="input-label" >Fish Category</span>
        <input type="text" placeholder="Enter category eg Tilapia" ng-model="post_data.fish_category">
      </label>
    
      <label class="item item-input item-stable item-stacked-label">
        <span class="input-label" >Price</span>
        <input type="text" placeholder="price" ng-model="post_data.price">
      </label>
      <label class="item item-input item-stable item-stacked-label">
        <span class="input-label">Quantity</span>
        <input type="number" placeholder="quantity" ng-model="post_data.quantity" >
      </label>
      
    <label class="item">
     <button class="button button-block button-positive" type="submit">Submit</button>
    </label> 
</form>
    
    </div>
</ion-content>

</ion-view>